body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root, html, body {
  width: 100% !important;
  height: 100% !important;
}

.css-d9c359-MuiButtonBase-root-MuiToggleButton-root.Mui-selected {
  background-color: #8cceed !important;
  color: white !important;
}
